<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MedicalDBConnection" 
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MedicalDB;Integrated Security=True;TrustServerCertificate=True;Encrypt=False"
             providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration>

